<div id="<%= dom_id blazer_and_jacket %>">
  <p>
    <strong>Fullname:</strong>
    <%= blazer_and_jacket.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blazer_and_jacket.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= blazer_and_jacket.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= blazer_and_jacket.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= blazer_and_jacket.Url %>
  </p>

</div>
