<div id="<%= dom_id pant %>">
  <p>
    <strong>Fullname:</strong>
    <%= pant.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pant.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= pant.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pant.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= pant.Url %>
  </p>

</div>
