<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Pant</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to pants_path, class: button_class(theme: "transparent") do %>
      All Pants
      <% end %>
      <%= link_to edit_pant_path(@pant), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Fullname:</p>
        <p><%= @pant.Fullname %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @pant.Description %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @pant.Quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @pant.Price %></p>
      </li>
      <li>
        <p class="font-semibold">Url:</p>
        <p><%= @pant.Url %></p>
      </li>
  </ul>
</div>
