<%= form_with(model: employee) do |form| %>
<% if employee.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% employee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :EmID, class: label_class %>
          <%= form.number_field :EmID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Name, class: label_class %>
          <%= form.text_field :Name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Dob, class: label_class %>
          <%= form.datetime_field :Dob, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Hometown, class: label_class %>
          <%= form.text_field :Hometown, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Phonenumber, class: label_class %>
          <%= form.number_field :Phonenumber, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Email, class: label_class %>
          <%= form.text_area :Email, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if employee.persisted? %>
<%= link_to "Cancel", employee, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", employees_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
