<div id="<%= dom_id blazerand_jacket %>">
  <p>
    <strong>Fullname:</strong>
    <%= blazerand_jacket.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blazerand_jacket.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= blazerand_jacket.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= blazerand_jacket.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= blazerand_jacket.Url %>
  </p>

</div>
