<%= form_with(model: blazerand_jacket) do |form| %>
<% if blazerand_jacket.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(blazerand_jacket.errors.count, "error") %> prohibited this blazerand_jacket from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% blazerand_jacket.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :Fullname, class: label_class %>
          <%= form.text_field :Fullname, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Description, class: label_class %>
          <%= form.text_area :Description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Quantity, class: label_class %>
          <%= form.number_field :Quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Price, class: label_class %>
          <%= form.number_field :Price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Url, class: label_class %>
          <%= form.text_area :Url, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if blazerand_jacket.persisted? %>
<%= link_to "Cancel", blazerand_jacket, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", blazerand_jackets_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
