<div id="<%= dom_id infor_customer %>">
  <p>
    <strong>Namecus:</strong>
    <%= infor_customer.NameCus %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= infor_customer.Dob %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= infor_customer.Phonenumber %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= infor_customer.Address %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= infor_customer.Point %>
  </p>

</div>
