<div id="<%= dom_id bill_detail %>">
  <p>
    <strong>Emid:</strong>
    <%= bill_detail.EmID %>
  </p>

  <p>
    <strong>Namecus:</strong>
    <%= bill_detail.NameCus %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= bill_detail.Phonenumber %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= bill_detail.Product %>
  </p>

</div>
