<div id="<%= dom_id bill %>">
  <p>
    <strong>Emid:</strong>
    <%= bill.EmID %>
  </p>

  <p>
    <strong>Namecus:</strong>
    <%= bill.NameCus %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= bill.Phonenumber %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= bill.Product %>
  </p>

</div>
