<%= form_with(model: bill) do |form| %>
<% if bill.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% bill.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :EmID, class: label_class %>
          <%= form.select :EmID, options_from_collection_for_select(Employee.all,'id', 'EmID', selected= @bill.EmID), class: label_class %> 
      </div>
  <div class="mb-6">
        <%= form.label :NameCus, class: label_class %>
          <%= form.text_field :NameCus, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Phonenumber, class: label_class %>
          <%= form.number_field :Phonenumber, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Product, class: label_class %>
          <%= form.select :Product, options_from_collection_for_select(Skirt.all,'id', 'Fullname', selected= @bill.Product), class: label_class %>
          <%= form.select :Product, options_from_collection_for_select(Dress.all,'id', 'Fullname', selected= @bill.Product), class: label_class %>
          <%= form.select :Product, options_from_collection_for_select(Pant.all,'id', 'Fullname', selected= @bill.Product), class: label_class %>
          <%= form.select :Product, options_from_collection_for_select(TShirt.all,'id', 'Fullname', selected= @bill.Product), class: label_class %>
          <%= form.select :Product, options_from_collection_for_select(BlazerAndJacket.all,'id', 'Fullname', selected= @bill.Product), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if bill.persisted? %>
<%= link_to "Cancel", bill, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", bills_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
