<div id="<%= dom_id t_shirt %>">
  <p>
    <strong>Fullname:</strong>
    <%= t_shirt.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= t_shirt.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= t_shirt.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= t_shirt.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= t_shirt.Url %>
  </p>

</div>
