<div id="<%= dom_id skirt %>">
  <p>
    <strong>Fullname:</strong>
    <%= skirt.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skirt.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= skirt.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= skirt.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= skirt.Url %>
  </p>

</div>
