<div id="<%= dom_id dress %>">
  <p>
    <strong>Fullname:</strong>
    <%= dress.Fullname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dress.Description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= dress.Quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dress.Price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= dress.Url %>
  </p>

</div>
