<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Dress</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to dresses_path, class: button_class(theme: "transparent") do %>
      All Dresses
      <% end %>
      <%= link_to edit_dress_path(@dress), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Fullname:</p>
        <p><%= @dress.Fullname %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @dress.Description %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @dress.Quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @dress.Price %></p>
      </li>
      <li>
        <p class="font-semibold">Url:</p>
        <p><%= @dress.Url %></p>
      </li>
  </ul>
</div>
